<div id="<%= dom_id entry %>">
  <p>
    <strong>Date:</strong>
    <%= entry.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= entry.amount %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= entry.currency %>
  </p>

  <p>
    <strong>Party:</strong>
    <%= entry.party %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= entry.message %>
  </p>

  <p>
    <strong>External:</strong>
    <%= entry.external_id %>
  </p>

</div>
