<div id="<%= dom_id statement_format %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Label:</strong>
    <%= statement_format.label %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date fmt:</strong>
    <%= statement_format.date_fmt %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date col:</strong>
    <%= statement_format.date_col %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount col:</strong>
    <%= statement_format.amount_col %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Currency col:</strong>
    <%= statement_format.currency_col %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Party col:</strong>
    <%= statement_format.party_col %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description col:</strong>
    <%= statement_format.description_col %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Default currency:</strong>
    <%= statement_format.default_currency %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this statement format", statement_format, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this statement format", edit_statement_format_path(statement_format), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
