<%= form_with(model: perspective) do |form| %>
  <% if perspective.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(perspective.errors.count, "error") %> prohibited this perspective from being saved:</h2>

      <ul>
        <% perspective.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.textarea :query, required: true, placeholder: "Query", "aria-label": "Query", rows: 4 %>
  </div>

  <div style="display: flex; justify-content: flex-end; gap: 10px">
    <%= form.text_field :name, required: true, placeholder: "Name", "aria-label": "Name", style: "flex: 1" %>
    <%= form.submit "Save & Run" %>
  </div>
<% end %>

<% if perspective.persisted? %>
  <%= form_with model: perspective, method: :delete do |f| %>
    <%= f.submit "Delete", data: { turbo_confirm: "Are you sure?" } %>
  <% end %>
<% end %>
