<p style="color: green"><%= notice %></p>

<% content_for :title, "Perspectives" %>

<h1>Perspectives</h1>

<h2>Saved</h2>

<div id="saved_perspectives">
  <% @saved_perspectives.each do |perspective| %>
    <%= render perspective %>
    <p>
      <%= link_to "Show this perspective", perspective %>
    </p>
  <% end %>
</div>

<h2>Recent</h2>

<div id="recent_perspectives">
  <% @recent_perspectives.each do |perspective| %>
    <%= render perspective %>
    <p>
      <%= link_to "Show this perspective", perspective %>
    </p>
  <% end %>
</div>

<%= link_to "New perspective", new_perspective_path %>
