<p style="color: green"><%= notice %></p>

<div id="perspectives">
  <% @perspectives.each do |perspective| %>
    <%= link_to perspective.name, perspectives_path(perspective:) %> |
  <% end %>

  <%= link_to "New", perspectives_path(perspective: nil) %>
</div>

<div id="perspective" style="margin-top: 1rem">
  <%= render "form", perspective: @perspective %>
</div>

<div id="perspectives-results" style="margin-top: 1rem">
  <%= render "results", perspective: @perspective %>
</div>
